.card {
  background-color: $white;
  border: none;
  border-radius: 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1), 0 1px 5px rgba(0,0,0,0.1);
  display: block;
  margin: auto;
  overflow: auto;

  &--square {
    height: 15rem; width: 15rem;
    .card--footer {
      @extend .absolute;
      background-color: $gray;
      padding: 0.8rem 0;
      text-align: center;
      bottom: 0; left: 0; right: 0;
      transition: $global-transition;

      h3 {
        color: $white;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  &--review {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    float: left;
    margin-right: 2rem;
    height: 23rem;
    width: 16rem;
    .card--content {
      display: flex;
      flex-flow: column;
      flex-grow: 1;
    }
  }

  .review-image {
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 10rem;
    width: 100%;
    &.instagram_lizelleg {
      background-image: url("../../img/reviews/instagram_lizelleg.jpg");
      background-position: 0 -3.5rem;
    }
    &.instagram_shekira {
      background-image: url("../../img/reviews/instagram_shekira.jpg");
      background-position: 0 -4.5rem;
    }
    &.twitter_uxjw {
      background-image: url("../../img/reviews/twitter_uxjw.jpg");
      background-position: 0 -5.5rem;
    }
  }

  .review-author,
  .review-text {
    line-height: 1.2rem;
    margin: 0;
    overflow: hidden;

    .text-instagram, &.text-instagram, .text-instagram a, &.text-instagram a { color: $c-instagram; }
    .text-twitter, &.text-twitter, .text-twitter a, &.text-twitter a { color: $c-twitter; }
    .text-etsy, &.text-etsy, .text-etsy a, &.text-etsy a { color: $c-etsy; }
  }
  .review-text { font-size: 0.8rem; }
  .review-author {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .review-link {
    @extend .card;
    @extend .is-selectable;
    border-radius: 5px;
    color: $black;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.1rem;
    margin-top: 0.7rem;
    padding: 0.3rem 0.5rem 0.3rem 0.3rem;
    .link-logo {
      background-repeat: no-repeat;
      background-size: 100%;
      float: left;
      height: 20px;
      margin-right: 0.2rem;
      width: 20px;
      &.instagram-logo { background-image: url("../../img/reviews/instagram-logo.png"); }
      &.twitter-logo { background-image: url("../../img/reviews/twitter-logo.png"); }
    }
  }
}

.card-title {
  display: block;
  padding: 0.5rem;
  overflow: auto;
  background-color: #d7d7da;
  p { margin: 0.5rem 0 0 0.5rem; }
}
