.column {
  float: left;
  padding: 1rem;
  width: 100%;
  @media #{$desktop} { padding: 1rem; }

  &--full {
    @extend .column;
    @media #{$tablet} { width: 100%; }
  }

  &--third {
    @extend .column;
    @media #{$tablet} { width: calc(100% / 3); }
  }

  &--two-thirds {
    @extend .column;
    @media #{$tablet} {
      width: calc(200% / 3);
    }
  }
}
