.header {
  background-color: $c-white;
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;

  &--logo {
    background-image: url("../../img/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 1.7rem; width: 6rem;
    float: left;
    margin: 0 0.8rem 0 0;
    &:hover {
      opacity: .7;
    }
  }

  li {
    display: inline-block;
    float: left;

    .nav--item {
      @extend .float-left;
      color: $c-white;
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      margin: 0 0.2rem;
      padding: 0.3rem 0.4rem;
      text-transform: uppercase;
      border-radius: 3px;
    }
  }
}
