.header {
  background-color: $c-gray;
  position: absolute;
  top: 0; right: 0; left: 0;

  &--logo {
    background-image: url("../../img/logo--dark.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 1.7rem; width: 6rem;
    float: left;
    margin: 0.6rem 0.8rem 0 0;
    &:hover {
      opacity: .7;
    }
  }

  li {
    display: inline-block;
    float: left;

    .nav--item {
      @extend .float-left;
      color: $c-white;
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      margin: 0 0.2rem;
      padding: 0.8rem;
      text-transform: uppercase;
    }
  }
}
