.il-shop {
  background-image: url("../../img/storefront.svg");
  background-size: 100%;
  height: 12rem;
}

.img {
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0 0 100% 0;
  width: 90%;
  transition: $global-transition;
  .content--store & { background-position: center; }

  #lightsaber & { background-image: url("../../img/shop/lightsaber.svg"); }
  #jengo & { background-image: url("../../img/shop/jengo.svg"); }
  #boba & { background-image: url("../../img/shop/boba.svg"); }
  #superman & { background-image: url("../../img/shop/superman.svg"); }
  #pokemon & { background-image: url("../../img/shop/pokemon.svg"); }
  #captain & { background-image: url("../../img/shop/captain.svg"); }

  //Stickers
  #k2so & { background-image: url("../../img/k2so.svg"); }
  #r2d2 & { background-image: url("../../img/shop/r2d2.svg"); }
  #apple-gum & { background-image: url("../../img/shop/apple-gum.svg"); }
  #classic & { background-image: url("../../img/shop/classic.svg"); }
  #namastay & { background-image: url("../../img/namastay.svg"); }

  //Vinyl Decal
  #bb8-decal & { background-image: url("../../img/shop/bb8-decal.svg"); }
  #r2d2-decal & { background-image: url("../../img/shop/r2d2-decal.svg"); }
  #stormtrooper-decal & { background-image: url("../../img/shop/stormtrooper-decal.svg"); }
  #texas & { background-image: url("../../img/shop/texas.svg"); }
  #wisconsin & { background-image: url("../../img/shop/wisconsin.svg"); }
  #golf & { background-image: url("../../img/shop/golf.svg"); }
}

#bb8 {
  .img { background-image: url("../../img/shop/image--bb8.png"); }
  .atvImg-layers {
    background: -webkit-linear-gradient(left top, #58C09F, #30B993); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #58C09F, #30B993); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #58C09F, #30B993); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #58C09F, #30B993); /* Standard syntax */
  }
}

#florida-fins {
  .img { background-image: url("../../img/shop/image--florida-fins.png"); }
  .atvImg-layers {
    background: -webkit-linear-gradient(left top, #207A8A, #106C77); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #207A8A, #106C77); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #207A8A, #106C77); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #207A8A, #106C77); /* Standard syntax */
  }
}

#lets-go-fishing {
  .img { background-image: url("../../img/shop/image--lets-go-fishing.png"); }
  .atvImg-layers {
    background: -webkit-linear-gradient(left top, #AD9471, #9D805E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #AD9471, #9D805E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #AD9471, #9D805E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #AD9471, #9D805E); /* Standard syntax */
  }
}

#love-all {
  .img { background-image: url("../../img/shop/image--love-all.png"); }
  .atvImg-layers {
    background: -webkit-linear-gradient(left top, #799AA6, #5D8390); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #799AA6, #5D8390); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #799AA6, #5D8390); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #799AA6, #5D8390); /* Standard syntax */
  }
}

#paddles {
  .img { background-image: url("../../img/shop/image--paddles.png"); }
  .atvImg-layers {
    background: -webkit-linear-gradient(left top, #87C5D1, #68BBC9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #87C5D1, #68BBC9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #87C5D1, #68BBC9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #87C5D1, #68BBC9); /* Standard syntax */
  }
}

#k2so {
  .img { background-image: url("../../img/k2so.svg"); }
  .atvImg-layers {
    background: -webkit-linear-gradient(left top, #FFF, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #FFF, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #FFF, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #FFF, #FFF); /* Standard syntax */
  }
}
