.il-shop {
  background-image: url("../../img/storefront.svg");
  background-size: 100%;
  height: 12rem;
}

.img {
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  height: 80%; width: 80%;
  transition: $global-transition;

  .content--store & {
    background-position: center;
    height: $store-card--phone;
    opacity: .95;
    &:hover { opacity: 1; }

    @media #{$tablet} { height: $store-card--tablet; }
    @media #{$desktop} { height: $store-card--desktop; }
  }

  #lightsaber & { background-image: url("../../img/shop/lightsaber.svg"); }
  #jengo & { background-image: url("../../img/shop/jengo.svg"); }
  #boba & { background-image: url("../../img/shop/boba.svg"); }
  #superman & { background-image: url("../../img/shop/superman.svg"); }
  #pokemon & { background-image: url("../../img/shop/pokemon.svg"); }
  #captain & { background-image: url("../../img/shop/captain.svg"); }

  //Stickers
  #bb8 & { background-image: url("../../img/bb8.svg"); }
  #k2so & { background-image: url("../../img/k2so.svg"); }
  #r2d2 & { background-image: url("../../img/shop/r2d2.svg"); }
  #apple-gum & { background-image: url("../../img/shop/apple-gum.svg"); }
  #classic & { background-image: url("../../img/shop/classic.svg"); }
  #namastay & { background-image: url("../../img/namastay.svg"); }

  //Vinyl Decal
  #bb8-decal & { background-image: url("../../img/shop/bb8-decal.svg"); }
  #r2d2-decal & { background-image: url("../../img/shop/r2d2-decal.svg"); }
  #stormtrooper-decal & { background-image: url("../../img/shop/stormtrooper-decal.svg"); }
  #texas & { background-image: url("../../img/shop/texas.svg"); }
  #wisconsin & { background-image: url("../../img/shop/wisconsin.svg"); }
  #golf & { background-image: url("../../img/shop/golf.svg"); }
}
