@mixin button($background-color, $color) {
  background-color: $background-color;
  color: $color;
  &:hover, &:focus {
    background-color: darken($background-color, 5%);
    color: $color;
  }
  &:active { background-color: darken($background-color, 9%); }
  &:not(.button--transparent) {
    .dashing-icon:before { color: $white; }
  }
}

.button {
  @extend .button--round;
  @include button($background-color: $c-blue, $color: $white);
}

.shop-button {
  float: right;
  border: 3px solid $white;
  border-radius: 6px !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.14), 0 -2px 12px rgba(0,0,0,0.1);
  margin: 0;
  padding: 0.6rem 0.8rem;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  &:hover,
  &:focus { box-shadow: 0 5px 8px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.2), 0 0px 8px rgba(0,0,0,0.2); }
  &:active { box-shadow: 0 0px 3px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.14), 0 0px 4px rgba(0,0,0,0.1); }
}

.button--buy-now {
  @include button($background-color: #82ba37, $color: $white);
  @extend .shop-button;
  float: left;
  &.disabled {
    box-shadow: 0 0px 3px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.14), 0 0px 4px rgba(0,0,0,0.1);
  }
}
