@import url(../scss/vendor/normalize.css);
* {
  box-sizing: border-box; }

html {
  font-size: 18px;
  font-family: "Lato", sans-serif; }

body {
  background-color: rgba(214, 216, 222, 0.5); }

a {
  color: #60B5F0;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 0.2rem;
  transition: all 0.2s ease; }
  a:hover {
    opacity: .8; }

.content {
  overflow: auto; }

.column, .column-third, .column-two-thirds {
  float: left;
  padding: 0.5rem;
  width: 100%; }
  @media all and (min-width: 55em) {
    .column, .column-third, .column-two-thirds {
      padding: 1rem; } }

@media all and (min-width: 55em) {
  .column-third {
    width: calc(100% / 3); } }

@media all and (min-width: 55em) {
  .column-two-thirds {
    width: calc(200% / 3); } }

header {
  background-color: #464849;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }
  header .logo {
    background-image: url("../../img/logo--dark.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1.7rem;
    width: 6rem;
    float: left; }

.content {
  margin-top: 4rem; }
  @media all and (min-width: 40em) {
    .content {
      padding: 1rem; } }
  .content .macbook {
    background-color: #D6D6DC;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60%;
    width: 90%; }
    @media all and (min-width: 40em) {
      .content .macbook {
        border-radius: 30px; } }
    @media all and (min-width: 55em) {
      .content .macbook {
        padding: 0;
        height: 25rem;
        width: 38rem; } }

.icon, .icon--apple, .decal__il--d {
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  height: 1px;
  transition: .2s ease-in-out; }

.icon--apple {
  background-image: url("../../img/icon--apple.svg");
  padding: 7.5%;
  top: 36%;
  right: 42.5%; }

.decal__il--d {
  background-image: url("../../img/decal__il--d.svg");
  opacity: 1;
  z-index: 1;
  padding: 10%;
  top: 35%;
  right: 40%; }
  .decal__il--d:hover {
    opacity: .5; }

.image, .help-step .clean-icon, .help-step .trash-icon, .help-step .peel-icon {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 12rem;
  width: 14rem;
  margin: 0 auto; }
  @media all and (min-width: 55em) {
    .image, .help-step .clean-icon, .help-step .trash-icon, .help-step .peel-icon {
      height: 12rem;
      width: 100%; } }

.header-title {
  color: #464849;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

.help-step {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 960px;
  overflow: auto;
  padding-bottom: 1rem;
  transition: all 0.2s ease-in-out; }
  @media all and (min-width: 55em) {
    .help-step {
      padding-bottom: 1rem; } }
  .help-step .clean-icon {
    background-image: url("../../img/help-clean.svg"); }
    @media all and (min-width: 55em) {
      .help-step .clean-icon {
        background-position: 0 -1.7rem; } }
  .help-step .trash-icon {
    background-image: url("../../img/help-trash.svg"); }
    @media all and (min-width: 55em) {
      .help-step .trash-icon {
        background-position: 1rem -1.8rem; } }
  .help-step .peel-icon {
    background-image: url("../../img/help-peel.svg"); }
    @media all and (min-width: 55em) {
      .help-step .peel-icon {
        background-position: 0 -1.5rem; } }
  .help-step .help-header,
  .help-step .help-details {
    margin: auto;
    width: 90%; }
  .help-step .help-header {
    margin-bottom: 0.5rem;
    font-size: 1rem; }
    @media all and (min-width: 55em) {
      .help-step .help-header {
        margin-top: 3rem;
        width: auto; } }
    .help-step .help-header:before {
      content: "";
      border-radius: 50px;
      border: 2px solid #D6D8DE;
      color: #D6D8DE;
      cursor: default;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.5rem; }
    .help-step .help-header#step-one:before {
      content: "1"; }
    .help-step .help-header#step-two:before {
      content: "2"; }
    .help-step .help-header#step-three:before {
      content: "3"; }
    .help-step .help-header#step-four:before {
      content: "4"; }
  .help-step .help-details {
    color: rgba(70, 72, 73, 0.7);
    font-size: 0.9rem;
    line-height: 1.4rem; }
    @media all and (min-width: 55em) {
      .help-step .help-details {
        margin: 0.8rem 0; } }

/*# sourceMappingURL=styles.css.map */
