<div class="modal-item" id="paddles">
  <div class="img img--modal"></div>
</div>

<div class="details-container">
  <h2>Paddles<span class="item-tag">Sticker</span></h2>
  <h4 class="item-description">You Win Some, You Lose Some</h4>
  <a class="button button--buy-now" href="http://etsy.me/2ulyQLY" target="_blank">Buy Now! · $4</a>
  <ul class="item-details">
    <h4 class="item-detail--header">Details</h4>
    <li class="item-detail">High Quality Vinyl Sticker</li>
    <li class="item-detail">Weatherproof, waterproof and fade resistant</li>
    <li class="item-detail">Measures 2.87” x 3”</li>
  </ul>
</div>
