.header-title {
  color: $c-gray;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.help-step {
  @extend .card;
  margin: 2rem auto;
  max-width: 960px;
  padding-bottom: 1rem;
  transition: $global-transition;
  @media #{$desktop} { padding-bottom: 1rem; }

  // &:hover {
  //   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // }

  .clean-icon {
    @extend .image;
    background-image: url("../../img/help-clean.svg");
    @media #{$desktop} { background-position: 0 -1.7rem; }
  }

  .trash-icon {
    @extend .image;
    background-image: url("../../img/help-trash.svg");
    @media #{$desktop} { background-position: 1rem -1.8rem; }
  }

  .apply-icon {
    @extend .image;
    background-image: url("../../img/help-apply.svg");
    @media #{$desktop} { background-position: 1rem -1.4rem; }
  }

  .peel-icon {
    @extend .image;
    background-image: url("../../img/help-peel.svg");
    @media #{$desktop} { background-position: 1rem -1.4rem; }
  }

  .help-header,
  .help-details {
    margin: auto;
    width: 90%;
  }

  .help-header {
    margin-bottom: 0.5rem;
    font-size: 1rem;

    @media #{$tablet} {
      margin-top: 3rem;
      margin-left: 2rem;
      width: auto;
    }

    @media #{$desktop} {
      margin-left: 0;
    }

    &:before {
      content: "";
      border-radius: 50px;
      border: 2px solid #D6D8DE;
      color: #D6D8DE;
      cursor: default;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.5rem;
    }
    &#step-one:before { content: "1"; }
    &#step-two:before { content: "2"; }
    &#step-three:before { content: "3"; }
    &#step-four:before { content: "4"; }
  }

  .help-details {
    color: rgba($c-gray, .7);
    font-size: 0.9rem;
    line-height: 1.4rem;

    @media #{$tablet} {
      margin: 0.8rem 0;
      margin-left: 2rem;
    }

    @media #{$desktop} {
      margin: 0.8rem 0;
      margin-left: 0;
    }
  }
}
