.image {
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-title {
  color: $gray;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.help-step {
  margin: 0 auto;

  max-width: 960px;
  .clean-icon {
    @extend .image;
    background-image: url("../../img/help-clean.svg");
    height: 14rem; width: 14rem;
    margin: 0 auto;
    @media #{$desktop} {
      height: 14rem; width: 100%;
    }
  }

  .help-header,
  .help-details {
    margin: auto;
    width: 90%;
  }

  .help-header {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    @media #{$desktop} {
      margin-top: 4.5rem;
      width: auto;
    }
  }

  .help-details {
    color: rgba($gray, .7);
    font-size: 0.9rem;
    line-height: 1.4rem;
    @media #{$desktop} {
      margin: 0.8rem 0;
    }
  }
}
