$phone:         "all and (max-width: 40em)" !default;
$tablet:        "all and (min-width: 40em)" !default;
$desktop:       "all and (min-width: 55em)" !default;
$desktop-large: "all and (min-width: 96em)" !default;

html {
  font-size: 18px;
}

$gray: #464849;
