$phone:         "all and (max-width: 40em)" !default;
$tablet:        "all and (min-width: 40em)" !default;
$desktop:       "all and (min-width: 55em)" !default;
$desktop-large: "all and (min-width: 96em)" !default;

$lato: 'Lato', sans-serif;

$gray: #464849;
$color-twitter: #60B5F0;

* { box-sizing:border-box; }

html {
  font-size: 18px;
  font-family: $lato;
}

body {
  background-color: rgba(#D6D8DE, .5);
}

a {
  color: $color-twitter;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 0.2rem;
  transition: all 0.2s ease;
  &:hover {
    opacity: .8;
  }
}

.content {
  overflow: auto;
}

.column {
  float: left;
  padding: 0.5rem;
  width: 100%;
  @media #{$desktop} { padding: 1rem; }
}

.column-third {
  @extend .column;
  @media #{$desktop} {
    width: calc(100% / 3);
  }
}

.column-two-thirds {
  @extend .column;
  @media #{$desktop} {
    width: calc(200% / 3);
  }
}
