%l-float-right { float: right !important; }
%l-float-left { float: left !important; }
%l-align-center { text-align: center; }
$card-count: 5;

#header { }

.hero {
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;

  &.hero--home,
  &.hero--airpod {
    background-color: $white;
    background-position: bottom;
    background-size: cover;
    border-bottom: 3px solid #5B5D5D;
    height: 280px;
  }

  &.hero--home { background-image: url("../../img/storefront.svg"); }
  &.hero--airpod {
    background-image: url("../../img/hero--airpod.svg");
    background-position: center 1rem;
    @media #{$desktop} {
      background-position: center 1rem;
    }
  }
}

.content {
  margin: 4rem auto;
  max-width: 1040px;
  @media #{$tablet} { padding: 0 3rem; }
  .macbook {
    background-color: #D6D6DC;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60%;
    width: 90%;
    @media #{$tablet} {
      border-radius: 30px;
    }
    @media #{$desktop} {
      padding: 0;
      height: 25rem;
      width: 38rem;
    }
  }

  &.content--store {
    overflow: hidden;
    text-align: center;
  }
}

.section {
  &.section--review {
    background-color: $gray-100;
    padding-bottom: 2rem;
  }
}

.section-header {
  color: $c-gray;
  font-weight: 700;
  margin-top: 1rem;
}

.flex-row {
  -webkit-overflow-scrolling: touch;
  display: flex;
  height: 25rem;
  overflow-x: auto;
  padding-left: 1.1rem;
  width: 100%;
  @media screen and (min-width: 1200px) {
    padding-left: calc(50% - (1200px/2) + 1.2rem);
  }
}

.column--review {
  width: calc(100% + (288px * #{$card-count}));
}

//SHOP STYLES
.body--store .content {
  text-align: center;
}

.shop-item-inner {
  background-color: #FFFFFF;
  border: 1px solid #EBECEF;
  border-radius: 3px;
  margin: 0.3rem;

  img {
    width: 90%;
  }
}

.shop-item {
  background-color: #FFFFFF;
  border: 1px solid #EBECEF;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(163,163,163,0.15);
  cursor: pointer;
  display: inline-block;
  margin: 0 0.5rem 2rem 0.5rem;
  text-align: center;
  // width: 80%;
  margin: 0 0.3rem 1rem 0.3rem;
  text-align: center;
  width: calc(50% - 1.2rem);

  // @media #{$tablet} { width: calc(50% - 1.2rem); }
  @media #{$desktop} { width: calc(33.333% - 1.2rem); }

  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  img {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    img {
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
    }
  }

  .shop-item--title {
    display: block;
    p {
      font-weight: 600;
      font-size: 23px;
      color: #212121;
      padding: 0.2rem 0.5rem 0.2rem 0;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .shop-item--price {
    color: #B3B7C6;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
    margin: 0;
  }
}

.shop-header {
  border-bottom: 3px solid #e0e1e5;
  margin: 1rem 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;

  &:not(:first-of-type) { margin-top: 6rem; }
}

footer .row {
  padding: 0 3rem;
  max-width: 1040px;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
