%l-float-right { float: right !important; }
%l-float-left { float: left !important; }
%l-align-center { text-align: center; }

#header { }

.content {
  margin: 4rem auto;
  max-width: 920px;
  @media #{$tablet} {
    padding: 1rem;
  }
  .macbook {
    background-color: #D6D6DC;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60%;
    width: 90%;
    @media #{$tablet} {
      border-radius: 30px;
    }
    @media #{$desktop} {
      padding: 0;
      height: 25rem;
      width: 38rem;
    }
  }
}

.section-header {
  color: $c-gray;
  font-weight: 700;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

#footer { }
