%l-float-right { float: right !important; }
%l-float-left { float: left !important; }
%l-align-center { text-align: center; }
$card-count: 5;

#header { }

.hero {
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;

  &.hero--home,
  &.hero--airpod {
    background-color: $white;
    background-position: center;
    background-size: cover;
    border-bottom: 3px solid #5B5D5D;
    height: 280px;
  }

  &.hero--home { background-image: url("../../img/storefront.svg"); }
  &.hero--airpod {
    background-image: url("../../img/hero--airpod.svg");
    background-position: center 1rem;
    @media #{$desktop} {
      background-position: center 1rem;
    }
  }
}

.content {
  margin: 4rem auto;
  max-width: 920px;
  @media #{$tablet} { padding: 1rem; }
  .macbook {
    background-color: #D6D6DC;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60%;
    width: 90%;
    @media #{$tablet} {
      border-radius: 30px;
    }
    @media #{$desktop} {
      padding: 0;
      height: 25rem;
      width: 38rem;
    }
  }

  &.content--store { text-align: center; }
}

.section {
  &.section--review {
    background-color: $gray-100;
    padding-bottom: 2rem;
  }
}

.section-header {
  color: $c-gray;
  font-weight: 700;
  margin-top: 1rem;
}

.flex-row {
  -webkit-overflow-scrolling: touch;
  display: flex;
  height: 25rem;
  overflow-x: auto;
  padding-left: 1.1rem;
  width: 100%;
  @media screen and (min-width: 1200px) {
    padding-left: calc(50% - (1200px/2) + 1.2rem);
  }
}

.column--review {
  width: calc(100% + (288px * #{$card-count}));
}

//SHOP STYLES
.body--store .content {
  text-align: center;
}
.shop-item {
  display: inline-block;
  margin: 0 0.5rem 2rem 0.5rem;
}

.shop-header {
  border-bottom: 3px solid #e0e1e5;
  margin: 1rem 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;

  &:not(:first-of-type) { margin-top: 6rem; }
}

.shop-button {
  border-bottom: 3px solid #436fc7;
  float: right;
  margin-top: 0.3rem;
}

#footer { }
